{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    {{ block.super }}
    {% if original.pk %}
        <li><a href="{% url 'admin:portfolio_app_emailcampaign_preview' original.pk %}" target="_blank">Preview Email</a></li>
        <li><a href="{% url 'admin:portfolio_app_emailcampaign_send_test' original.pk %}">Send Test</a></li>
        {% if original.status != "sent" %}
            <li><a href="{% url 'admin:portfolio_app_emailcampaign_send_now' original.pk %}" class="historylink">Send Now</a></li>
        {% endif %}
    {% endif %}
{% endblock %}
